@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-betacolor: #3bdfff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .btn {
    background-color: var(--color-white);
    border-width: 1px;
    cursor: pointer;
    border-radius: var(--rounded-full);
    transition: var(--transition-colors);
    transition-duration: var(--duration-500);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
